<form [formGroup]="formFile">
    <input
        type="file"
        formControlName="file"
        accept="image/*"
        (change)="this.anexarFile($event)"
        style="display: none"
        id="selecionar-arquivo"
    />
</form>
<div class="flex flex-row flex-auto min-w-0">
    <div
        class="container-anexar-file"
        (click)="this.abrirSelecionarArquivo()"
        matTooltip="{{
            !this.mostrarImg
                ? 'Clique para selecionar uma imagem'
                : 'Clique para trocar uma imagem'
        }}"
    >
        <span id="selecionar" *ngIf="!this.mostrarImg"
            >Selecionar uma imagem</span
        >
        <span id="img" *ngIf="this.mostrarImg">
            <img src="{{ this.base64 }}" class="no-img" />
        </span>
    </div>
</div>
