<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
  <!-- Header -->
  <div
      class="
          flex flex-0
          items-center
          justify-between
          h-16
          pr-3
          sm:pr-5
          pl-6
          sm:pl-8
          bg-primary
          text-on-primary
      "
  >
      <div class="text-lg font-medium">Alterar Senha</div>
      <button mat-icon-button [tabIndex]="-1" (click)="this.fechar()">
          <mat-icon
              class="text-current"
              [svgIcon]="'heroicons_outline:x'"
          ></mat-icon>
      </button>
  </div>

  <form
      class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
      [formGroup]="form"
      *ngIf="this.mostrarFormulario"
  >
      <mat-form-field appearance="outline">
          <mat-label>Nova Senha</mat-label>
          <input
              matInput
              formControlName="senha"
              required
              autocomplete="off"
              type="password"
          />
          <mat-error *ngIf="this.form.get('senha').hasError('required')">
              Campo obrigatório!
          </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Confirma senha</mat-label>
          <input
              matInput
              formControlName="confirmaSenha"
              required
              autocomplete="off"
              type="password"
          />
          <mat-error
              *ngIf="this.form.get('confirmaSenha').hasError('required')"
          >
              Campo obrigatório!
          </mat-error>
      </mat-form-field>

      <!-- Actions -->
      <div class="flex flex-col justify-between mt-4 sm:mt-6">
          <div class="flex flex-row items-end justify-between mt-4 sm:mt-0">
              <div>
                  <button
                      class="ml-auto mr-4 sm:ml-0"
                      mat-stroked-button
                      (click)="this.fechar()"
                  >
                      Fechar
                  </button>
              </div>
              <div style="min-width: 35% !important">
                  <!-- Send -->
                  <button
                      class="order-first sm:order-last w-full"
                      mat-flat-button
                      [color]="'primary'"
                      (click)="this.salvar()"
                      [disabled]="!this.form.valid || this.salvando"
                  >
                      <span *ngIf="!this.salvando">Salvar</span>
                      <mat-progress-spinner
                          *ngIf="this.salvando"
                          [diameter]="24"
                          [mode]="'indeterminate'"
                      ></mat-progress-spinner>
                  </button>
              </div>
          </div>
      </div>
  </form>
</div>
