<div class="flex flex-col flex-auto min-w-0">
    <!-- Header --
  <div
      class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
  >
      <div class="flex-1 min-w-0">
          <!-- Title 
          <div class="mt-2">
              <h2
                  class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
              >
                  Excursão
              </h2>
          </div>
      </div>
  </div>-->

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="w-full">
            <form
                class="p-4 bg-card shadow rounded overflow-hidden"
                [formGroup]="this.form"
                *ngIf="this.mostrarFormulario"
            >
                <mat-horizontal-stepper [linear]="true" #horizontalStepper>
                    <mat-step
                        [formGroupName]="'step1'"
                        [stepControl]="this.form.get('step1')"
                        #horizontalStepperStep1
                    >
                        <ng-template matStepLabel
                            >Informações básicas</ng-template
                        >

                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'nome'"
                                    [placeholder]="'Título da excursão'"
                                    autocomplete="off"
                                    required
                                />
                            </mat-form-field>
                        </div>

                        <div
                            class="flex flex-wrap w-full items-center justify-center"
                        >
                            <mat-form-field
                                appearance="outline"
                                class="fuse-mat-no-subscript w-full"
                            >
                                <mat-label>Periodo excursão</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input
                                        matStartDate
                                        placeholder="Data Ínicio"
                                        [formControlName]="'dataIncio'"
                                        required
                                        (dateChange)="
                                            this.setDatasSelecionadas()
                                        "
                                    />
                                    <input
                                        matEndDate
                                        placeholder="Data Fim"
                                        [formControlName]="'dataFim'"
                                        (dateChange)="
                                            this.setDatasSelecionadas()
                                        "
                                        required
                                    />
                                </mat-date-range-input>
                                <mat-hint>Data Ínicio – Data Fim</mat-hint>
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="picker"
                                ></mat-datepicker-toggle>
                                <mat-date-range-picker
                                    #picker
                                ></mat-date-range-picker>
                            </mat-form-field>
                        </div>

                        <div
                            class="flex flex-wrap w-full items-center justify-between"
                        >
                            <mat-form-field
                                appearance="outline"
                                class="fuse-mat-no-subscript w-full sm:w-4/12"
                            >
                                <mat-label>Data de saída</mat-label>
                                <input
                                    matInput
                                    [formControlName]="'dataSaida'"
                                    [matDatepicker]="DataSaida"
                                    required
                                    (dateChange)="this.validarDataSaida()"
                                />
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="DataSaida"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #DataSaida></mat-datepicker>
                                <mat-hint>Data saída</mat-hint>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                class="fuse-mat-no-subscript w-15-p"
                            >
                                <mat-label>Hora saída</mat-label>
                                <input
                                    matInput
                                    [formControlName]="'horaEmbarque'"
                                    required
                                    type="time"
                                />
                                <mat-hint>Hora do saída</mat-hint>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                class="fuse-mat-no-subscript w-full sm:w-4/12"
                            >
                                <mat-label>Data de retorno</mat-label>
                                <input
                                    matInput
                                    [formControlName]="'dataRetorno'"
                                    [matDatepicker]="DataRetorno"
                                    required
                                    (dateChange)="this.validarDataRetorno()"
                                />
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="DataRetorno"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #DataRetorno></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                class="fuse-mat-no-subscript w-15-p"
                            >
                                <mat-label>Hora retorno</mat-label>
                                <input
                                    matInput
                                    [formControlName]="'horaRetorno'"
                                    required
                                    type="time"
                                />
                                <mat-hint>Hora do retorno</mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="flex justify-end mt-4">
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="
                                    horizontalStepperStep1.stepControl.invalid
                                "
                                type="button"
                                matStepperNext
                            >
                                Próximo
                            </button>
                        </div>
                    </mat-step>

                    <mat-step
                        [formGroupName]="'step2'"
                        [stepControl]="this.form.get('step2')"
                        #horizontalStepperStep2
                    >
                        <ng-template matStepLabel>Endereços</ng-template>

                        <p class="font-bold mb-2">Endereço de destino:</p>
                        <form [formGroup]="formDestino">
                            <div
                                class="flex flex-row items-center justify-center"
                            >
                                <mat-form-field
                                    class="fuse-mat-no-subscript w-full mr-4 sm:w-35"
                                >
                                    <mat-label>CEP</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'cep'"
                                        autocomplete="off"
                                        (keydown)="this.buscarPorCepDestino()"
                                        (blur)="this.buscarPorCepDestino()"
                                        mask="00000-000"
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    class="fuse-mat-no-subscript w-full mr-4 sm:w-35"
                                >
                                    <mat-label>Logradouro</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'logradouro'"
                                        autocomplete="off"
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    class="fuse-mat-no-subscript w-full sm:w-35"
                                >
                                    <mat-label>Nº</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'numero'"
                                        autocomplete="off"
                                    />
                                </mat-form-field>
                            </div>
                            <div
                                class="flex flex-row items-center justify-center"
                            >
                                <mat-form-field
                                    class="fuse-mat-no-subscript w-full mr-4 sm:w-25"
                                >
                                    <mat-label>Bairro</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'bairro'"
                                        autocomplete="off"
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    class="fuse-mat-no-subscript w-full mr-4 sm:w-25"
                                >
                                    <mat-label>Cidade</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'cidade'"
                                        autocomplete="off"
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    class="fuse-mat-no-subscript w-full sm:w-25"
                                >
                                    <mat-label>UF</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'uf'"
                                        autocomplete="off"
                                        maxlength="2"
                                    />
                                </mat-form-field>
                            </div>
                        </form>

                        <p class="font-bold mb-2 mt-2">Endereço de saída:</p>
                        <form [formGroup]="formSaida">
                            <div
                                class="flex flex-row items-center justify-center"
                            >
                                <mat-form-field
                                    class="fuse-mat-no-subscript w-full mr-4 sm:w-35"
                                >
                                    <mat-label>CEP</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'cep'"
                                        autocomplete="off"
                                        (keydown)="this.buscarPorCepSaida()"
                                        (blur)="this.buscarPorCepSaida()"
                                        mask="00000-000"
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    class="fuse-mat-no-subscript w-full mr-4 sm:w-35"
                                >
                                    <mat-label>Logradouro</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'logradouro'"
                                        autocomplete="off"
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    class="fuse-mat-no-subscript w-full sm:w-35"
                                >
                                    <mat-label>Nº</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'numero'"
                                        autocomplete="off"
                                    />
                                </mat-form-field>
                            </div>
                            <div
                                class="flex flex-row items-center justify-center"
                            >
                                <mat-form-field
                                    class="fuse-mat-no-subscript w-full mr-4 sm:w-25"
                                >
                                    <mat-label>Bairro</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'bairro'"
                                        autocomplete="off"
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    class="fuse-mat-no-subscript w-full mr-4 sm:w-25"
                                >
                                    <mat-label>Cidade</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'cidade'"
                                        autocomplete="off"
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    class="fuse-mat-no-subscript w-full sm:w-25"
                                >
                                    <mat-label>UF</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'uf'"
                                        autocomplete="off"
                                        maxlength="2"
                                    />
                                </mat-form-field>
                            </div>
                        </form>

                        <div class="flex justify-end mt-4">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious
                            >
                                Voltar
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="
                                    !this.formSaida.valid ||
                                    !this.formDestino.valid
                                "
                                type="button"
                                matStepperNext
                            >
                                Próximo
                            </button>
                        </div>
                    </mat-step>

                    <mat-step
                        [formGroupName]="'step3'"
                        [stepControl]="this.form.get('step3')"
                        #horizontalStepperStep3
                    >
                        <ng-template matStepLabel
                            >Valores/Informações</ng-template
                        >

                        <div class="flex flex-column">
                            <mat-form-field
                                appearance="outline"
                                class="fuse-mat-no-subscript w-2/3 mr-4 sm:w-35"
                            >
                                <mat-label>Valor adulto</mat-label>
                                <input
                                    matInput
                                    formControlName="valorAdulto"
                                    required
                                    autocomplete="off"
                                    type="tel"
                                    mvndrMatCurrencyFormat
                                    [allowNegative]="false"
                                    [currencyCode]="'BRL'"
                                />
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                class="fuse-mat-no-subscript w-2/3 mr-4 sm:w-35"
                            >
                                <mat-label>Valor infantil</mat-label>
                                <input
                                    matInput
                                    formControlName="valorInfantil"
                                    required
                                    autocomplete="off"
                                    type="tel"
                                    mvndrMatCurrencyFormat
                                    [allowNegative]="false"
                                    [currencyCode]="'BRL'"
                                />
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                class="fuse-mat-no-subscript w-2/3 mr-4 sm:w-35"
                            >
                                <mat-label
                                    >Considerar criança aparti de quantos
                                    anos?</mat-label
                                >
                                <input
                                    matInput
                                    formControlName="considerarCrianca"
                                    autocomplete="off"
                                    type="number"
                                />
                            </mat-form-field>
                        </div>

                        <div class="flex flex-column">
                            <mat-form-field
                                appearance="outline"
                                class="fuse-mat-no-subscript w-full"
                            >
                                <mat-label>Itinerário</mat-label>
                                <textarea
                                    matInput
                                    formControlName="itinerario"
                                    autocomplete="off"
                                ></textarea>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-column">
                            <mat-form-field
                                appearance="outline"
                                class="fuse-mat-no-subscript w-full"
                            >
                                <mat-label>Observações</mat-label>
                                <textarea
                                    matInput
                                    formControlName="observacoes"
                                    autocomplete="off"
                                ></textarea>
                            </mat-form-field>
                        </div>

                        <div class="flex justify-end mt-8">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious
                            >
                                Voltar
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                type="reset"
                                (click)="this.salvar()"
                            >
                                Salvar
                            </button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>
        </div>
    </div>
</div>
