/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.toast-error {
    background-color: #cb5f55 !important;
    text-align: center !important;
    font-weight: 500 !important;
}

.toast-warning {
    background-color: #faa922 !important;
    text-align: center !important;
    font-weight: 500 !important;
}

.toast-success {
    background-color: #54a254 !important;
    text-align: center !important;
    font-weight: 500 !important;
}

.toast-info {
    text-align: center !important;
    font-weight: 500 !important;
}

.clique-add {
    color: #4f46e5;
    cursor: pointer;
    font-size: 20px;
}
